<!-- FOOTER -->
<footer class="footer">
    <div class="container" id="footer-top">
        <div class="row" style="margin: 0;">
            <div class="col-12 col-md-1"></div>
            <div class="col-12 col-md-5">
                <h4 class style="margin: 15px; font-weight:400;">Hours</h4>
                <h4 style="font-size:15px;">
                    <p style="padding-left: 10px;"><i class="fas fa-brush"></i> &nbsp;&nbsp;&nbsp;Mon - Fri : 3:00PM - 8:00PM</p>
                    <i class="fas fa-brush" style="padding-left: 10px;"></i> &nbsp;&nbsp;&nbsp;Sat - 11:00AM - 12:30PM, Sun - Closed
                </h4>
                <h4 style="margin: 15px; font-weight:400;">Contact Us</h4>
                <h4 style="font-size:15px;">
                    <p style="padding-left: 10px;"><i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;<a href="tel:1-415-515-5153">&nbsp;&nbsp;(415) 515-5153</a> 
                    </h4>
                <h4 style="font-size:15px;">
                    <p style="padding-left: 10px;"><i class="far fa-envelope"></i>&nbsp;&nbsp;&nbsp;<a href="mailto:teamtigerstkd@gmail.com">teamtigerstkd@gmail.com</a>
                </h4>
                <h4 style="font-size:15px">
                    <p style="padding-left: 10px;"><i class="fas fa-map-marked"></i>&nbsp;&nbsp;<a href="https://goo.gl/maps/exytRN3kEjPRCoUn9">2515 S El Camino Real, San Mateo, CA94403</a>
                </h4>
            </div>
            <div class="col-12 col-md-5">
                <h4 class="text-center" style="margin: 15px; font-weight:400;">Find Us</h4>
                <iframe title="map" height="200px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d790.8508965731554!2d-122.30807768727468!3d37.54555418522584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f9f1a6d1e4045%3A0x4a3c80dc21cf1eac!2sTeam%20Tigers%20Taekwondo%20Academy!5e0!3m2!1sen!2sus!4v1637554168194!5m2!1sen!2sus" frameBorder="0" style="border:0; width: 100%" allowFullScreen=""></iframe>
            </div>
        </div>
    </div>
    <div class="footer-holder">
        <p class="text-center" style="margin: 0">© {{year}} TEAM TIGERS TAEKWONDO ACADEMY</p>
    </div>
</footer>