<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <!-- <div class="section-title">
      <h2>About Us</h2>
      <p>Meet Our Instructors</p>
    </div> -->
    <div class="row featurette bg-img">       
      <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
        <div class="about-img">
          <img src="assets/tae_2.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content mt-auto mb-auto">
        <h3>Taekwondo is a Korean martial art which has been an official Olympic Sport since 2000 Sydney Olympics.</h3>
        <br>
        <p>
          The most recognizable characterics of Taekwondo is seen in many amazing kicking techniques but it's real strength lies on 
          generating power from speed and using movement to find openings in an opponent.
          The ultimate goal of any traditional martial arts is to develop ones's character through traning all aspects of the martial arts;
          physical, mental and spiritual. At Team Tigers Taekwondo Academy, we emphasize those values in our classes and 
          our mission is to teach Taekwondo with high standards for all ages and levels.
        </p>         
      </div>
    </div>

  </div>
</section>
  <!-- End About Section -->
  <!-- instructior Section -->

  <!-- <hr class="featurette-divider"> -->


  <!-- instructor -->
<!-- <section id="specials" class="specials">
<div class="container" data-aos="fade-up">  
  <div class="section-title">
    <h2>About Us</h2>
    <p>Meet Our Instructors</p>
  </div> 
<div class="row featurette bg-img">
        <div class="col-md-7">
            <h2 class="featurette-heading">Instructor<br><span class="text-muted">Chul Park</span></h2>
            <p class="lead">
                He is a 5th Dan Black Bent rank in the World Taekwondo Federation with over 30 years of experience as a competitor and a instructor.
            </p>
        </div>
        <div class="col-md-5">
            <img src="assets/number_1.jpg" width="100%" height="450" style="object-fit: cover;" alt="">

        </div>
    </div>
    
    <hr class="featurette-divider">
    
    <div class="row featurette bg-img">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Associate Instructor<br><span class="text-muted">Name</span></h2>
            <p class="lead">
                He is a 3rd Dan Black Belt rank in the World Taekwondo Federation with over 10 years of experience as a competitor and a instructor.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
                       <img src="assets/number_2.jpg" width="100%" height="450" style="object-fit: cover;" alt="">
    </div>
    </div>    
      </div>
      </section> -->