 <!-- heros -->

 <section id="hero" class="d-flex align-items-center">
  <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
    <div class="row">
      <div>      
        <h1>Contact to <span>Team Tigers</span></h1>
        <h2>We are&nbsp;&nbsp;<span>here to</span>&nbsp;&nbsp;please you</h2>
        <!-- <div class="btns">
          <a href="#contacts" class="golden-button">
            Contact Us</a>&nbsp;&nbsp;
          <button class="golden-button" data-toggle="modal" data-target=".contact-modal">Free Trial</button>
        </div> -->
      </div>
   
    </div>
  </div>
</section>

 <!-- end -->
 <!-- ======= Contact Section ======= -->
 <section class="contact" id="contacts">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        <!-- <p class="question">Any Questions ? Please contact us. We are here to please you</p> -->
      </div>

      <!-- <div>
        <iframe style="border:0; width: 100%; height: 270px;" src="https://maps.google.com/maps?q=2515%20S%20El%20Camino%20Real,%20San%20Mateo,%20CA%2094403&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" allowfullscreen></iframe>
      </div> -->

      <div class="row mt-5" style="padding-top: 0px; padding-bottom: 50px;" id="mobil">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>2515 S El Camino Real<br />San Mateo, CA94403</p>
            </div>

            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p><a href="mailto:teamtigerstkd@gmail.com">teamtigerstkd@gmail.com</a></p>
            </div>

            <div class="phone">
              <h4>Call:</h4>
              <p><a href="tel:1-415-515-5153">(415) 515-5153</a></p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form (submit)="sendEmail($event)" class="php-email-form">
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" [value]="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required />
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" [value]="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" required/>
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" [value]="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" required/>
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" [value]="note" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message" required></textarea>
              <div class="validate"></div>
            </div>
            
            <div class="text-center"><button type="submit" class="btn btn-block btn-submit" [disabled]="isSubmitting">Send Message</button></div>
          </form>

        </div>
      </div>

    </div>
  </section>
  <!-- End Contact Section -->
