<div class="container">
    <section class="text-center" style="padding: 10px 0">
        <div class="container">
            <h1>Free Trial</h1>
            <p class="lead text-muted">You can send us a short message with following format. <br>
            We will get back to you as soon as possible!</p>
            <form (submit)="sendEmail($event)"> 
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Name *</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="number">Phone Number *</label>
                        <input type="text" class="form-control" id="number" name="number" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="age">Age of Student *</label>
                    <input type="text" class="form-control" id="age" name="age" required>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="city">City *</label>
                        <input type="text" class="form-control" id="city" name="city" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="time">Available Date and Time</label>
                        <select id="time" class="form-control" name="time">
                            <option selected>Options</option>
                            <option>Monday 3:30pm-4:10pm</option>
                            <option>Wednesday 3:30pm-4:10pm</option>
                            <option>Friday 3:30pm-4:10pm</option>
                            <option>Monday to Thursday 6:40pm-7:40pm(Teen/Adult)</option>
                            <!-- <option>5</option> -->
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <input type="text" class="form-control" id="message" name="message" placeholder="Optional">
                    <div class="text-muted">* Required Information</div>
                </div>
                <button type="submit" class="btn btn-block btn-submit" [disabled]="isSubmitting">Submit</button>
              </form>
        </div>
    </section>
</div>
