.bgimg {
  background-image: url('/assets/t1.png');
  /* background-repeat: repeat; */
  height: 100%;
  background-position: center;
  background-size: cover;
  /* position: relative; */
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5rem;
  color: #e6e6ea;
  font-weight: 500 !important;
  text-transform: uppercase;

}

.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
  font-size: 12px;
}

.middle {
  position: absolute;
  top: 81%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}

.social {
  margin-top: auto;
  margin-bottom: auto;
  /* word-spacing: 5px; */
}

@media (max-width: 414px) {
  .topleft {
    width: 100%;
    left: 0px;
    text-align: center;
    font-size: 1.8rem;
  } 
  .bgimg {background-image: url('/assets/t1_m_1.png');
  }
  .bottomleft { left:0px; text-align: center; width: 100%;}
  .middle { font-size: 1.5rem;}
}
@media (max-width: 768px) {
  .topleft {
    width: 100%;   
    left: 0px;
    text-align: center;
    font-size: 1.8rem;
  } 
  .bgimg {background-image: url('/assets/t1_m_1.png');
    
  }
}