
<div class="bgimg">  
  <div class="topleft">
    <p style="margin-bottom: 0px;">TEAM TIGERS</p>
    <p style="font-size: 15px; margin-top: 0px; text-align: center;">TEAKWONDO Academy</p>
  </div>
  <div class="middle">
    <h1>COMING SOON</h1>
    <hr>
    <p>Follow Us On</p>
    <p class="social">
      <a style="color: #FF0040" href="https://www.yelp.com/biz/team-tigers-taekwondo-academy-san-mateo"><i class="fab fa-yelp"></i></a>&nbsp;&nbsp;
      <a style="color: #0A1172" href="https://www.facebook.com/pg/TeamTigersTaekwondoAcademy/posts/"><i class="fab fa-facebook"></i></a>&nbsp;&nbsp;  
      <a style="color: #7518b6;" href="https://www.instagram.com/teamtigerstkd/"><i class="fab fa-instagram"></i></a>
    </p>
  </div>
  <div class="bottomleft">
    <p class="year">© {{year}} Team Tigers <a style="color: #e6e6ea; text-decoration: none;" href="mailto:teamtigerstkd@gmail.com">teamtigerstkd@gmail.com</a><p>  </div>
  
</div>
