<!-- <app-topbar></app-topbar>
<app-header></app-header>
<app-main></app-main>
<app-footer></app-footer>
<router-outlet></router-outlet> -->
<ngx-json-ld [json]="schema"></ngx-json-ld>
<app-topbar></app-topbar>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
<div class="modal fade contact-modal" id="freetrial" tabindex="-1" role="dialog" aria-labelledby="contactModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" >
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle" style="color: #1a1814">Free Trial</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <app-free></app-free>
      </div>
    </div>
  </div>